body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.pop-up {
  display: none;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 2;
}
.box {
    background-color: #051118;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    position: relative;
    -webkit-box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);
    border-radius: 5px;
}
@media only screen and (min-width: 300px){
.box {
    margin-top: 35%;
}
}
@media only screen and (min-width: 600px){
.box {
    margin-top: 25%;
}
}
@media only screen and (min-width: 900px){
.box {
    margin-top: 20%;
}
}
.small-6 {
    width: 80%;
}
.close-button {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-decoration: none;
    transition: all 0.5s ease;
    position: absolute;
    background-color: pink;
    padding: 1.5px 7px;
    left: 0;
    margin-left: -10px;
    margin-top: -9px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: black;
    -webkit-box-shadow: -4px -2px 6px 0px rgb(0 0 0 / 10%);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgb(0 0 0 / 10%);
}
form {
    margin: 0 0 1rem;
}
.buttonn {
    margin 0 auto: ;
    background-color: White;
    margin-bottom: 33px;
    border-radius: 10px;
   transition: .5s;
}
.buttonn:hover{
    background-color: #d3d3d3;;
}
.p_a{
    color: #000 !important;
  	text-decoration: none;
  	font-weight: bold;
}
 .p_h2 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: pink;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media only screen and (min-width: 40.063em)
.buttonn {
    display: inline-block;
}
.buttonn {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    border-radius: 10px;
    /*background-color: #008cba;
    border-color: #007095;
    color: white;*/
    transition: background-color 300ms ease-out;
}
@keyframes blur {
0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}
}


.no_dec{
  text-decoration: none;
  clear: both;
}